<h4><a {{bind-attr href=link.url}} target='_blank'>{{link.name}}</a></h4>
<p>
  {{link.description}}
</p>
{{#if link.created_at}}
  <span class="muted">Posted at {{format-date link.created_at "DD/MM/YY"}}</span> -
{{/if}}
By
{{#link-to "userLinks" link.user.id}}
  {{link.user.fullName}}
{{/link-to}}
