<div class="link-content" {{action 'markAsRead' on="mouseEnter"}}>
  <h4><a {{bind-attr href=link.url}} target='_blank'>{{link.name}}</a></h4>
  <p>
    {{link.description}}
  </p>
  {{#unless simpleMode}}

  {{/unless}}
  {{#if link.created_at}}

  {{/if}}
  {{#unless simpleMode}}

  {{/unless}}

  <ul class="list-inline">
    <li>
      <i class="fa fa-user"></i>
      {{#link-to "userLinks" link.user.id}}
        {{link.user.fullName}}
      {{/link-to}}
    </li>
    <li>
      <i class="fa fa-calendar-o"></i>
      On {{format-date link.created_at "DD/MM/YY"}}
    </li>
    <li class="twitter-share">
      {{twitter-share data-url=link.url
                data-text=link.description
                data-size="medium"
                data-count="none"}}
    </li>
    {{#if currentUser}}
      <li>
        {{#if isFavorite}}
          <button {{action 'unfavorite'}} class="btn btn-default btn-xs" title="un fav this link">
          <i class="fa fa-star"></i>
          <span class="fav-count">{{favoritesCount}}</span>
          </button>
        {{else}}
          <button {{action 'favorite'}} class="btn btn-default btn-xs" title="fav this link">
          <i class="fa fa-star-o"></i>
          <span class="fav-count">{{favoritesCount}}</span>
          </button>
        {{/if}}
      </li>
    {{else}}
      <div class="btn btn-default btn-xs">
      <i class="fa fa-star"></i>
      <span class="fav-count">{{favoritesCount}}</span>
      </button>
    {{/if}}
  </ul>
</div>
