<div {{action 'markAsRead' on="mouseEnter"}}>
<h4><a {{bind-attr href=link.url}} target='_blank'>{{link.name}}</a></h4>
<p>
  {{link.description}}
</p>
{{#if isFavorite}}
  <button {{action 'unfavorite'}} class="btn btn-default btn-sm" title="un fav this link">
  <i class="fa fa-star"></i>
  </button>
{{else}}
  <button {{action 'favorite'}} class="btn btn-default btn-sm" title="fav this link">
  <i class="fa fa-star-o"></i>
  </button>
{{/if}}
{{#if link.created_at}}
  <span class="muted">Posted at {{format-date link.created_at "DD/MM/YY"}}</span> -
{{/if}}
By
{{#link-to "userLinks" link.user.id}}
  {{link.user.fullName}}
{{/link-to}}
</div>
